

:root{

    --dark-color: #0e110d;
    --dark-green-color: #1f2120;
    --light-green-color:   #a6a182 ;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blogsection2{
    background-color: var(--dark-color);
}

.blogsection2 .container .row .dine{
   
}

.blogsection2 .container .row .dine .img{
  
     border-radius: 30px;
      overflow: hidden;
}

.blogsection2 .container .row .dine img{
   
    height: 40vh;
    transition: .3s linear;
}

.blogsection2 .container .row .dine img:hover{
    transform: scale(1.1);
    
}