

:root{

    --dark-color: #0e110d;
    --dark-green-color: #1f2120;
    --light-green-color:   #a6a182 ;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallerysection2{
    background-color: var(--dark-color);
}

.gallerysection2 .container .row .dine{
    position: relative;
    height: 45vh;
    border-radius: 30px;
    overflow: hidden;
}
.gallerysection2 .container .row .dine img{
    transition: .3s linear;
}

.gallerysection2 .container .row .dine:hover img{
    transform: scale(1.1);
}

.gallerysection2 .container .row .dine::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(-45deg,rgba(0, 0, 0, 0.364) 40%,white 20%,rgba(0, 0, 0, 0.392) 40%);
    z-index: 1;
}

.gallerysection2 .container .row .dine:hover::before{
 background: linear-gradient(-45deg,rgba(0, 0, 0, 0.259) ,rgba(255, 255, 255, 0.374) ,black );
}